<div class="test-css">


<h2>Original delivery list</h2>

<select name="original" multiple>
  <option
    [value]="d.name"
  *ngFor="let d of noneFilteredList" >{{isActive(d.active)}} {{d.name}} {{d.price}} Eur</option>
</select>

<h2>Filter deliver list by specification pattern (isActive and MaxPrice is lower than 5 EUR)</h2>
<select name="original" multiple *ngIf="(filteredList$|async) " >
  <option
    [value]="d.name"
  *ngFor="let d of filteredList$ | async" >{{isActive(d.active)}} {{d.name}} {{d.price}} Eur</option>
</select>


<button (click)="onPressButton()">Test FooService resposne</button>
</div>
